<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
tr.DEBIT {
  color: #159c6e;
}
tr.CREDIT {
  color: #E64759;
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  {{#if id}}
    <div id="statsButton" class="text-right" style="padding-bottom:10px;">
      <button type="button" name="showedit" class="btn btn-lg btn-primary-outline" >
        <strong>Edit</strong>
      </button>
    </div>
    <div id="stats" class="statcard statcard-{{#disabled}}danger{{/disabled}}{{#currency_disabled}}danger{{/currency_disabled}}{{#namespace_disabled}}danger{{/namespace_disabled}}{{#if (not (or disabled (or currency_disabled namespace_disabled)))}}success{{/if}} p-a-md m-b">
      <h3><div class="statcard-number">
          <div>ACCOUNT: {{accountName}}</div>
          <div>CURRENCY: {{currencyName}}</div>
          <div>PAYMENT STATUS: {{#disabled}}disabled{{/disabled}} {{#currency_disabled}}currency disabled{{/currency_disabled}} {{#namespace_disabled}}namespace disabled{{/namespace_disabled}} {{#if (not (or disabled (or currency_disabled namespace_disabled)))}}enabled{{/if}}
        </div>
        <div>STEWARDS:
          {{#stewards}}
          <div style="padding-left: 40px;">
            <a href="#stewards/{{stewardname}}" style="color: #4040a2">{{stewardname}}</a>
          </div>
          {{/stewards}}
        </div>
      </h3>
      <h4 class="statcard-number text-right">
        BALANCE {{decimal_places balance}}
        <!-- <small class="delta-indicator delta-positive">{{balanceDelta}}</small> -->
      </h4>
      <h4 class="statcard-number text-right">
        VOLUME {{decimal_places volume}}
        <!-- <small class="delta-indicator delta-positive">{{volumeDelta}}</small> -->
      </h4>

    </div>
  {{/if}}

  <form id='accountForm' {{#if id}}style="display: none;"{{/if}}>
    {{#if id}}<input type="hidden" name="id" value="{{id}}" />{{/if}}
    {{#if isEditable}}
    <div class="form-group text-left">
      <label for="key">Account Name</label>
      <input type="text" id="account" name="account" value="{{account}}" placeholder="Trading Account Name" class="form-control" />
    </div>
    <div class="form-group text-left">
      <label for="type">Account Namespace</label>
      <select class="custom-select" name="account_namespace">
        {{#each namespaces}}
          {{#this}}
            <option value="{{namespace}}" {{#if_eq namespace ../namespace}}selected="selected"{{/if_eq}}>{{namespace}}</option>
          {{/this}}
        {{/each}}
      </select>
    </div>
    <div class="form-group text-left">
      <label for="type">Account Currency</label>
      <select class="custom-select" name="currencyName">
        {{#each currencies}}
          {{#this}}
            <option value="{{currencyName}}" {{#if_eq currencyName ../currencyName}}selected="selected"{{/if_eq}}>{{currencyName}}</option>
          {{/this}}
        {{/each}}
      </select>
    </div>
    {{/if}}
    {{#if (or isSteward (or isCurrencySteward isNamespaceSteward))}}
    <div style="padding-top:10px;padding-bottom: 10px;">
      <div style="padding-bottom: 10px;">
        <strong>Payment Status:</strong>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="private" name="disabled" value="false" {{#if (not (or disabled (or currency_disabled namespace_disabled)))}}checked="checked"{{/if}}>
          <span class="custom-control-indicator"></span>
          <strong>Enabled</strong>
        </label>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="public" name="disabled" value="true" {{#if (or disabled (or currency_disabled namespace_disabled))}}checked="checked"{{/if}}>
          <span class="custom-control-indicator"></span>
          <strong>Disabled</strong>
        </label>
      </div>
      <div style="padding-top:5px; font-size: 12px;"><i>Enabled means payments can be processed on this account.</i></div>
      <div style="padding-bottom:5px; font-size: 12px;"><i>Disabled means payments can not be processed on this account.</i></div>
    </div>
    {{/if}}
    {{#if isSteward}}
    <div class="form-group text-left">
      <label for="stewards[]">Account Stewards</label>
      <div id="addButtonDiv" class="text-right" style="padding-bottom:10px;">
        <button type="button" name="addSteward" class="btn btn-success-outline">
          Add Stewards
          <span class="icon icon-add-to-list"></span>
        </button>
      </div>
      <ul id="stewards" class="list-group">
        {{#stewards}}
          <div class="flextable" style="padding-bottom: 10px;">
            <div class="flextable-item flextable-primary">
              <li class="list-group-item">
              {{stewardname}}
              <input type="hidden" name="stewards[]" value="stewards~{{stewardname}}" />
              </li>
            </div>
            <div class="flextable-item">
              <div class="btn-group">
                <button type="button" name="remove" value="stewards~{{stewardname}}" class="btn btn-danger-outline">
                  <span class="icon icon-cross" style="font-size: 1.2em"></span>
                </button>
              </div>
            </div>
          </div>
        {{/stewards}}
      </ul>
    </div>
    {{/if}}
    <div class="form-group text-right">
      <button type="button" name="cancel" class="btn btn-lg btn-primary-outline" >Cancel</button>
      <button type="button" name="upsert" class="btn btn-lg btn-primary-outline" >
        <strong>{{#if id}}Save{{else}}Save{{/if}}</strong>
      </button>
    </div>
  </form>

  <div id="stewardsModal" class="modal" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Stewards</h4>
        </div>
        <div class="modal-body">
          <div class="flextable">
            <div class="flextable-item flextable-primary">
              <div id="addStewardForm" class="form-group" style="margin-bottom: 0;">
                <input type="text" id="stewardname" name="stewardname" value="{{stewardname}}" placeholder="Steward Name" class="form-control" aria-describedby="helpBlock"/>
                <span id="helpBlock" class="help-block" style="margin: 0;"></span>
              </div>
            </div>
            <div class="flextable-item">
              <div class="btn-group">
                <button type="button" name="addStewardToList" class="btn btn-primary-outline">
                  <span class="icon icon-add-to-list"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="table-full">
            <table class="table accounts" data-sort="checkbox-table">
              <thead>
                <tr>
                  <th class="text-left">Stewards</th>
                </tr>
              </thead>
              <tbody id="modalList" class="table-rows">
                {{#stewardsCollection}}
                  <tr id="{{id}}">
                    <td>
                      <div class="checkbox custom-control custom-checkbox">
                      <label>
                        <input type="checkbox" id="stewardsCheckbox" name="stewardsCheckbox[]" value="stewards~{{stewardname}}">
                        <span class="custom-control-indicator"></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{stewardname}}
                      </label>
                    </div>
                    </td>
                  </tr>
                {{/stewardsCollection}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-link modal-action cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn-link modal-action add" data-dismiss="modal">
            <strong>Add Stewards</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  {{#if id}}
  <h2><strong>Ledger</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="csv" class="btn btn-lg btn-primary-outline" >
      <strong>Export CSV</strong>
    </button>
    <button type="button" name="newJournal" class="btn btn-lg btn-success-outline" >
      <strong>Process Journal Entry</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table" data-sort="basic">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>With</th>
          <th>description</th>
          <th>Amount</th>
          <th>Balance</th>
          <th>Volume</td>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each journals}}
          {{#this}}
            <tr id="{{id}}" class="{{charge}}">
              <td>{{prettify_date_short created}}</td>
              <td>{{#if withStewardname}}<a href="#stewards/{{withStewardname}}/accounts/{{withAccount}}/{{currencyName}}">{{withAccount}}</a>{{else}}{{withAccount}}{{/if}}</td>
              <td>{{#payload}}{{description}}{{/payload}}</td>
              <!-- <td>{{#if fromstewardname}}<a href="#stewards/{{fromstewardname}}/accounts/{{from_account}}.{{from_account_namespace}}/{{currencyName}}">{{from_account}}.{{from_account_namespace}}</a>{{else}}{{from_account}}.{{from_account_namespace}}{{/if}}</td>
              <td>{{#if tostewardname}}<a href="#stewards/{{tostewardname}}/accounts/{{to_account}}.{{to_account_namespace}}/{{currencyName}}">{{to_account}}.{{to_account_namespace}}</a>{{else}}{{to_account}}.{{to_account_namespace}}{{/if}}</td> -->
              <td>{{#if_eq charge 'CREDIT'}}-{{/if_eq}}{{decimal_places amount}}</td>
              <td>{{decimal_places balance}}</td>
              <td>{{decimal_places volume}}</td>
            </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>
