<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
tr.DEBIT {
  color: #159c6e;
}
tr.CREDIT {
  color: #E64759;
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  {{#if id}}
  <div id="statsButton" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="showedit" class="btn btn-lg btn-primary-outline" >
      <strong>Edit</strong>
    </button>
  </div>
  <div id="stats" class="statcard statcard-{{#if (or disabled (or namespace_disabled isParentNamespaceDisabled))}}danger{{else}}primary{{/if}} p-a-md m-b">
    <h3>
      <div class="statcard-number">
        {{#private}}PRIVATE{{else}}PUBLIC{{/private}} CURRENCY: {{currencyName}}
      </div>
      <div class="statcard-number">
        PAYMENT STATUS: {{#disabled}}Steward Disabled{{/disabled}} {{#namespace_disabled}}Namespace Disabled{{/namespace_disabled}} {{#isParentNamespaceDisabled}}Parent Namespace Disabled{{/isParentNamespaceDisabled}}{{#if (not (or disabled (or namespace_disabled isParentNamespaceDisabled)))}}Enabled{{/if}}
      </div>
      <div class="statcard-number">
        STEWARDS:
        {{#stewards}}
          <div style="padding-left: 40px;">
            <a href="#stewards/{{stewardname}}" style="color: #4040a2">{{stewardname}}</a>
          </div>
        {{/stewards}}
      </div>
    </h3>
    <h4 class="statcard-number text-right">
      BALANCE {{decimal_places balance}}
    </h3>
    <h4 class="statcard-number text-right">
      VOLUME {{decimal_places volume}}
    </h3>
  </div>
  {{/if}}
  <form id='currencyForm' {{#if id}}style="display: none;"{{/if}}>
    {{#if id}}<input type="hidden" name="id" value="{{id}}" />{{/if}}
    {{#if isEditable}}
      <div class="form-group text-left">
        <label for="key">Currency Name</label>
        <input type="text" id="currency" name="currency" value="{{currency}}" placeholder="Currency Name" class="form-control" />
      </div>
      <div class="form-group text-left">
        <label for="type">Currency Namespace</label>
        <select class="custom-select" name="currency_namespace">
          {{#each namespaces}}
            {{#this}}
              <option value="{{namespace}}" {{#../if_eq namespace ../currency_namespace/namespace}}selected="selected"{{/../if_eq}}>{{namespace}}</option>
            {{/this}}
          {{/each}}
        </select>
      </div>
    {{/if}}
    {{#if isSteward}}
    <div style="padding-top:10px;padding-bottom: 10px;">
      <div style="padding-bottom: 10px;">
        <strong>Join Status:</strong>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="public" name="private" value="false" {{#if_eq private false}}checked="checked"{{/if_eq}}>
          <span class="custom-control-indicator"></span>
          <strong>Public</strong>
        </label>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="private" name="private" value="true" {{#if_eq private true}}checked="checked"{{/if_eq}}>
          <span class="custom-control-indicator"></span>
          <strong>Private</strong>
        </label>
      </div>
      <div style="padding-top:5px; font-size: 12px;"><i>Public means other stewards can create accounts in this currency.</i></div>
      <div style="padding-bottom:5px; font-size: 12px;"><i>Private means only you can create accounts in this currency.</i></div>
    </div>
    {{/if}}
    {{#if (or isSteward isNamespaceSteward)}}
    <div style="padding-top:10px;padding-bottom: 10px;">
      <div style="padding-bottom: 10px;">
        <strong>Payment Status:</strong>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="private" name="disabled" value="false" {{#if (not (or (and disabled isSteward) (and namespace_disabled isNamespaceSteward)))}}checked="checked"{{/if}}>
          <span class="custom-control-indicator"></span>
          <strong>Enabled</strong>
        </label>
      </div>
      <div class="radio-inline custom-control custom-radio">
        <label>
          <input type="radio" id="public" name="disabled" value="true" {{#if (or (and disabled isSteward) (and namespace_disabled isNamespaceSteward))}}checked="checked"{{/if}}>
          <span class="custom-control-indicator"></span>
          <strong>Disabled</strong>
        </label>
      </div>
      <div style="padding-top:5px; font-size: 12px;"><i>Enabled means payments can be processed on this currency.</i></div>
      <div style="padding-bottom:5px; font-size: 12px;"><i>Disabled means payments can not be processed on this currency.</i></div>
    </div>
    {{/if}}
    {{#if isSteward}}
    <div class="form-group text-left">
      <label for="stewards[]">Currency Stewards</label>
      <div id="addButtonDiv" class="text-right" style="padding-bottom:10px;">
        <button type="button" name="addSteward" class="btn btn-success-outline">
          Add Stewards
          <span class="icon icon-add-to-list"></span>
        </button>
      </div>
      <ul id="stewards" class="list-group">
        {{#stewards}}
          <div class="flextable" style="padding-bottom: 10px;">
            <div class="flextable-item flextable-primary">
              <li class="list-group-item">
              {{stewardname}}
              <input type="hidden" name="stewards[]" value="stewards~{{stewardname}}" />
              </li>
            </div>
            <div class="flextable-item">
              <div class="btn-group">
                <button type="button" name="remove" value="stewards~{{stewardname}}" class="btn btn-danger-outline">
                  <span class="icon icon-cross" style="font-size: 1.2em"></span>
                </button>
              </div>
            </div>
          </div>
        {{/stewards}}
      </ul>
    </div>
    {{/if}}
    <div class="form-group text-right">
      <button type="button" name="cancel" class="btn btn-lg btn-primary-outline" >Cancel</button>
      <button type="button" name="upsert" class="btn btn-lg btn-primary-outline" >
        <strong>{{#if id}}Save{{else}}{{#if_eq currencyName 'add'}}Add{{else}}Save{{/if_eq}}{{/if}}</strong>
      </button>
    </div>
  </form>

  <div id="stewardsModal" class="modal" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Stewards</h4>
        </div>
        <div class="modal-body">
          <div class="flextable">
            <div class="flextable-item flextable-primary">
              <div id="addStewardForm" class="form-group" style="margin-bottom: 0;">
                <input type="text" id="stewardname" name="stewardname" value="{{stewardname}}" placeholder="Steward Name" class="form-control" aria-describedby="helpBlock"/>
                <span id="helpBlock" class="help-block" style="margin: 0;"></span>
              </div>
            </div>
            <div class="flextable-item">
              <div class="btn-group">
                <button type="button" name="addStewardToList" class="btn btn-primary-outline">
                  <span class="icon icon-add-to-list"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="table-full">
            <table class="table accounts" data-sort="checkbox-table">
              <thead>
                <tr>
                  <th class="text-left">Stewards</th>
                </tr>
              </thead>
              <tbody id="modalList" class="table-rows">
                {{#stewardsCollection}}
                  <tr id="{{id}}">
                    <td>
                      <div class="checkbox custom-control custom-checkbox">
                      <label>
                        <input type="checkbox" id="stewardsCheckbox" name="stewardsCheckbox[]" value="stewards~{{stewardname}}">
                        <span class="custom-control-indicator"></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{stewardname}}
                      </label>
                    </div>
                    </td>
                  </tr>
                {{/stewardsCollection}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-link modal-action cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn-link modal-action add" data-dismiss="modal">
            <strong>Add Stewards</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  {{#if id}}
  <h2><strong>Accounts</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="csvaccounts" class="btn btn-lg btn-primary-outline" >
      <strong>Export CSV</strong>
    </button>
    <button type="button" name="newAccount" class="btn btn-lg btn-success-outline" >
      <strong>New Account</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table accounts" data-sort="table">
      <thead>
        <tr>
          <th>Account</th>
          <th>Balance</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each accounts}}
          {{#this}}
          <tr id="{{id}}">
            <td>{{accountName}}</td>
            <td>{{decimal_places balance}}</td>
            <td>{{decimal_places volume}}</td>
          </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <h2><strong>Ledger</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="csvledger" class="btn btn-lg btn-primary-outline" >
      <strong>Export CSV</strong>
    </button>
    <button type="button" name="newTransaction" class="btn btn-lg btn-success-outline" >
      <strong>Process Journal Entry</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table" data-sort="basic">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>From</th>
          <th>To</th>
          <th>Description</th>
          <th>Amount</th>
          <th>balance</th>
          <th>volume</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each journals}}
          {{#this}}
            <tr id="{{id}}" class="{{charge}}">
              <td>{{prettify_date_short created}}</td>
              <td>{{#if fromstewardname}}<a href="#stewards/{{fromstewardname}}/accounts/{{from_account}}.{{from_account_namespace}}/{{currencyName}}">{{from_account}}.{{from_account_namespace}}</a>{{else}}{{from_account}}.{{from_account_namespace}}{{/if}}</td>
              <td>{{#if tostewardname}}<a href="#stewards/{{tostewardname}}/accounts/{{to_account}}.{{to_account_namespace}}/{{currencyName}}">{{to_account}}.{{to_account_namespace}}</a>{{else}}{{to_account}}.{{to_account_namespace}}{{/if}}</td>
              <td>{{#payload}}{{description}}{{/payload}}
              <td>{{#if_eq charge 'CREDIT'}}-{{/if_eq}}{{decimal_places amount}}</td>
              <td>{{decimal_places balance}}</td>
              <td>{{decimal_places volume}}</td>
            </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>
