<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
tr.DEBIT {
  color: #159c6e;
}
tr.CREDIT {
  color: #E64759;
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  {{#if id}}
  <div id="statsButton" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="showedit" class="btn btn-lg btn-primary-outline" >
      <strong>Edit</strong>
    </button>
  </div>
  <div id="stats" class="statcard statcard-primary p-a-md m-b">
    <h2>
      <div class="statcard-number">
        CURRENCY: {{currencyName}}
      </div>
    </h2>
    <h3 class="statcard-number text-right">
      BALANCE {{decimal_places balance}}
      <!-- <small class="delta-indicator delta-positive">{{balanceDelta}}</small> -->
    </h3>
    <h3 class="statcard-number text-right">
      VOLUME {{decimal_places volume}}
      <!-- <small class="delta-indicator delta-positive">{{volumeDelta}}</small> -->
    </h3>
  </div>
  {{/if}}
  <form id='currencyForm' {{#if id}}style="display: none;"{{/if}}>
    {{#if id}}<input type="hidden" name="id" value="{{id}}" />{{/if}}
    <div class="form-group text-left">
      <label for="key">Currency Name</label>
      <input type="text" id="currency" name="currency" value="{{currency}}" placeholder="Currency Name" class="form-control" />
    </div>
    <div class="form-group text-left">
      <label for="type">Currency Namespace</label>
      <select class="custom-select" name="currency_namespace">
        {{#each namespaces}}
          {{#this}}
            <option value="{{namespace}}" {{#if_eq namespace 'cc'}}selected="selected"{{/if_eq}}>{{namespace}}</option>
          {{/this}}
        {{/each}}
      </select>
    </div>

    <div class="form-group text-right">
      <button type="button" name="cancel" class="btn btn-lg btn-primary-outline" >Cancel</button>
      <button type="button" name="upsert" class="btn btn-lg btn-primary-outline" >
        <strong>{{#if id}}Edit{{else}}{{#if_eq currencyName 'add'}}Add{{else}}New{{/if_eq}}{{/if}}</strong>
      </button>
    </div>
  </form>

  {{#if id}}

  <h2><strong>Accounts</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="csvaccounts" class="btn btn-lg btn-primary-outline" >
      <strong>Export CSV</strong>
    </button>
    <button type="button" name="newAccount" class="btn btn-lg btn-success-outline" >
      <strong>New Account</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table accounts" data-sort="table">
      <thead>
        <tr>
          <th>Account</th>
          <th>Balance</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each accounts}}
          {{#this}}
          <tr id="{{id}}">
            <td>{{accountName}}</td>
            <td>{{decimal_places balance}}</td>
            <td>{{decimal_places volume}}</td>
          </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <h2><strong>Ledger</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="csvledger" class="btn btn-lg btn-primary-outline" >
      <strong>Export CSV</strong>
    </button>
    <button type="button" name="newTransaction" class="btn btn-lg btn-success-outline" >
      <strong>Process Journal Entry</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table" data-sort="basic">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>balance</th>
          <th>volume</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each journals}}
          {{#this}}
            <tr id="{{id}}" class="{{charge}}">
              <td>{{prettify_date_short created}}</td>
              <td>{{#if fromstewardname}}<a href="#stewards/{{fromstewardname}}/accounts/{{from_account}}.{{from_account_namespace}}/{{currencyName}}">{{from_account}}.{{from_account_namespace}}</a>{{else}}{{from_account}}.{{from_account_namespace}}{{/if}}</td>
              <td>{{#if tostewardname}}<a href="#stewards/{{tostewardname}}/accounts/{{to_account}}.{{to_account_namespace}}/{{currencyName}}">{{to_account}}.{{to_account_namespace}}</a>{{else}}{{to_account}}.{{to_account_namespace}}{{/if}}</td>
              <td>{{#if_eq charge 'CREDIT'}}-{{/if_eq}}{{decimal_places amount}}</td>
              <td>{{decimal_places balance}}</td>
              <td>{{decimal_places volume}}</td>
            </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>
