<div class="navigation col-md-3 sidebar right-border">
  <nav class="sidebar-nav">
    <div class="sidebar-header">
      <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
        <span class="sr-only">Toggle nav</span>
      </button>
      <a class="sidebar-brand" href="#stewards/{{#steward}}{{stewardname}}{{/steward}}/journals">
        <img id="logo" src="public/assets/images/openmoney-logo-vector.svg" class="svg img-responsive center-block" alt="Openmoney Logo" style="height: 75px;"/>
      </a>
    </div>
    <div id="nav-toggleable-md" class="nav-toggleable-md collapse">
      <ul class="nav nav-bordered nav-stacked">
        <li {{#if_eq page 'journals'}}class="active"{{/if_eq}}>
          <a id="journals" href="#stewards/{{#steward}}{{stewardname}}{{/steward}}/journals" class="nav-padding">
            <span class="icon icon-dial-pad icon-padding"></span>
            Journal Entry
          </a>
        </li>
        <li {{#if_eq page 'accounts'}}class="active"{{/if_eq}}>
          <a id="accounts" href="#stewards/{{#steward}}{{stewardname}}{{/steward}}/accounts" class="nav-padding">
            <span class="icon icon-v-card icon-padding"></span>
            Accounts
          </a>
        </li>
        <li {{#if_eq page 'currencies'}}class="active"{{/if_eq}}>
          <a id="currencies" href="#stewards/{{#steward}}{{stewardname}}{{/steward}}/currencies" class="nav-padding">
            <span class="icon icon-credit icon-padding"></span>
            Currencies
          </a>
        </li>
        <li {{#if_eq page 'namespaces'}}class="active"{{/if_eq}}>
          <a id="namespaces" href="#stewards/{{#steward}}{{stewardname}}{{/steward}}/namespaces" class="nav-padding">
            <span class="icon icon-folder icon-padding"></span>
            Namespaces
          </a>
        </li>
        <li {{#if_eq page 'stewards'}}class="active"{{/if_eq}}>
          <a id="stewards" href="#stewards" class="nav-padding">
            <span class="icon icon-users icon-padding"></span>
            Stewards
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
