<!-- <div class="col-sm-6" style="padding-top: 10px;">
</div>
<div class="col-sm-6" style="padding-top: 20px;">
</div> -->
<div id="gift" class="statcard statcard-success p-a-md m-b">
  <h1> Gift </h1>
  <h3 class="statcard-number text-right">
    BALANCE {{decimal_places giftBalance}}

  </h3>
  <h3 class="statcard-number text-right">
    VOLUME {{decimal_places giftVolume}}
  </h3>
</div>

<div id="promo" class="statcard statcard-primary p-a-md m-b">
  <h1> Promotional </h1>
  <h3 class="statcard-number text-right">
    BALANCE {{decimal_places promoBalance}}

  </h3>
  <h3 class="statcard-number text-right">
    VOLUME {{decimal_places promoVolume}}
  </h3>
</div>

<div id="points" class="statcard statcard-warning p-a-md m-b">
  <h1> Loyalty </h1>
  <h3 class="statcard-number text-right">
    BALANCE {{decimal_places pointsBalance}}

  </h3>
  <h3 class="statcard-number text-right">
    VOLUME {{decimal_places pointsVolume}}
  </h3>
</div>

<div id="tab" class="statcard statcard-danger p-a-md m-b">
  <h1> Tab </h1>
  <h3 class="statcard-number text-right">
    BALANCE {{decimal_places tabBalance}}

  </h3>
  <h3 class="statcard-number text-right">
    VOLUME {{decimal_places tabVolume}}
  </h3>
</div>

<div id="stamp" class="statcard statcard-info p-a-md m-b">
  <h1> Stamp </h1>
  <h3 class="statcard-number text-right">
    BALANCE {{decimal_places stampBalance}}

  </h3>
  <h3 class="statcard-number text-right">
    VOLUME {{decimal_places stampVolume}}
  </h3>
</div>
